.new-chat {
    position: fixed;
    top: 50px;
    left: 45px;
    height: 50px;
    width: 262px;
    align-content: center;
    border-radius: 10px;
    background-color: #28293D;    
    box-shadow: inset 0 0 16px rgba(72, 84, 254, 1);
    font-size: large;
    font-weight: bold;
    /* posisi text kebawah */
    padding-top: 10px;
    padding-left: 20px;
    color: #D9D9D9;
    cursor: pointer;
}

.new-chat:hover {
    transform: translateY;
    background-color: #3EE7BC;
    box-shadow: inset 0 0 16px rgba(72, 84, 254, 1);
    color: #000000;
    
}
