.container {
  display: block;
  position: relative;
  top: 490px;
  left: 75px;
  padding-left: 45px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3EE7BC;
  font-weight: bold;
  font-size: large;
  background-color: transparent;
  z-index: 2;
  height: fit-content;
  width: fit-content;
}

.container:hover {
  background-color: transparent;
  border-radius: 10px;
  color: #ccc;
}

.container input {
  position: fixed;
  opacity: 0;
  cursor: pointer;
  
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #3EE7BC;
  box-shadow: inset 0 0 20px rgba(72, 84, 254, 1);

}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
